:root {
    /* --green: #3C422B; */
    --beige: #b3aaa2;
}

html, body, main {
    margin: 0;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .main {
        background-color: black;
    }
}

.duplex-section {
    height: 50%;
}
@media screen and (max-width: 600px) {
    .duplex-section {
        background-color: white;
        height: 300px
    }
}



@media screen and (min-width: 600px) {
    .duplex-image {
        position: relative;
        height: 100%;
    }
}


@media screen and (max-width: 600px) {
    .duplex-image {
        position: relative;
        height: 100%;
    }
}


@media screen and (min-width: 600px) {
    .duplex-logo {
        width: 50%;
        max-height: 140px;
        max-width: 580px;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}


@media screen and (max-width: 600px) {
    .duplex-logo {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px

        /* overflow: auto; */
        /* margin: auto; */
        /* position: absolute; */
        /* top: 0; left: 0; bottom: 0; right: 0; */
    }
}

@media screen and (min-width: 600px) {
    .bookmark-us {
        position: relative;
        z-index: 2;
        float: right;
        margin-top: 20px;
        margin-right: 30px;
        padding-top: 10px; padding-bottom: 10px;
        padding-right: 35px; padding-left: 35px;
        border: 2px solid var(--beige);
        font-family: "Alegreya Sans";
        cursor: pointer;
        background-color: inherit;
        font-size: 16px
    }
    .bookmark-us:hover{
        background-color: var(--beige);
    }
}

@media screen and (max-width: 600px) {
    .bookmark-us {
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: var(--beige);
        z-index: 1;
        padding-top: 10px; padding-bottom: 10px;
        font-family: "Alegreya Sans";
        font-size: 20px;
        text-align: center;
    }
}

.coming-soon-section {
    background-color: black;
    height: 50%
}

@media screen and (max-width: 600px) {
    .coming-soon-section {
        height: 500px
    }
}

@media screen and (min-width: 600px) {
    .coming-soon-wrapper {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        font-family: 'Cormorant', serif;
        letter-spacing: 8px;
        font-weight: 300;
        font-style: italic;
        font-size: calc(50px + 3rem);
        font-weight: 100;
        opacity: 90%;
        color: white;
    }
}

@media screen and (max-width: 600px) {
    .coming-soon-wrapper {
        position: relative;
        top: 320px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        font-family: 'Cormorant', serif;
        letter-spacing: 8px;
        font-weight: 100;
        font-style: italic;
        font-size: calc(50px + 3rem);
        font-weight: 100;
        opacity: 90%;
        color: white;
    }
}

@media screen and (min-width: 600px) {
    .break {
        display: none
    }
}

@media screen and (max-width: 600px) {
    .line-desktop {
        display: none
    }
    .line{
        position: absolute;
        top: 200px;
        width: 100%;
        /* top: 400px; */
        /* -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-height: 250px */
    }
}

@media screen and (min-width: 600px) {
    .line-mobile {
        display: none
    }
    .line{
        position: fixed;
        width: 100%;
        top: 55%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-height: 250px
    }
}



@media screen and (min-width: 600px) {
    .footer {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        color: white
    }
}

@media screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
    }
}



@media screen and (min-width: 600px) {
    .career-inquiries {
        padding: 10px;
        padding-left: 20px;
        padding-right: 10px;
        font-family: "Alegreya Sans";
    }
    
    .address {
        padding: 10px;
        padding-left: 10px;
        padding-right: 20px;
        font-family: "Alegreya Sans";
    }
}

@media screen and (max-width: 600px) {
    .career-inquiries {
        padding: 10px;
        font-family: "Alegreya Sans";
        text-align: center;
    }
    
    .address {
        padding: 10px;
        font-family: "Alegreya Sans";
        padding-bottom: 70px;
        text-align: center;
    }
}


@media screen and (min-width: 600px) {
    .arrow {
        display: none
    }
}

