:root {
    --green: #3C422B;
    --beige: #CFA176;
}

html, body, main {
    margin: 0;
    height: 100%;
}

.duplex-section {
    height: 50%;
}

.duplex-image {
    position: relative;
    height: 100%;
}

.duplex-logo {
    width: 40%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.bookmark-us {
    float: right;
    margin: 20px;
    padding-top: 10px; padding-bottom: 10px;
    padding-right: 15px; padding-left: 15px;
    border: 2px solid var(--beige)
}

.coming-soon-section {
    background-color: var(--green);
    height: 50%
}

.coming-soon-wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-family: "Cormorant Garamond", sans-serif;
    font-style: italic;
    font-size: calc(40px + 2rem);
    opacity: 90%;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}

.career-inquiries {
    padding: 10px
}

.address {
    padding: 10px
}

.line{
    position: fixed;
    width: 100%;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 250px
}